.col-md-3 h1{
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.gambar img{
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 30px;
}

.welcome h2{
  margin-top: 10px;
  margin-left: 50px;
  font-family: 'Oswald', sans-serif;
}

.kotak0{
  width: 100px;
  height: 40px;
  background-color: #36e3dd;
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 10px;
}

.kotak0 h3{
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
  text-align: center;
}

.kotak1{
  width: 60px;
  height: 40px;
  background-color: #36e3dd;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 10px;
}

.kotak1 h3{
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
  text-align: center;
}



.kotak2{
  width: 60px;
  height: 40px;
  background-color: #36e3dd;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 10px;
}

.kotak2 h3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.kotak0:hover{
  background-color: aliceblue;
  color: black;
}

.kotak1:hover{
  background-color: aliceblue;
  color: black;
}

.kotak2:hover{
  background-color: aliceblue;
  color: black;
}

.keluar a i{
  font-size: 30px;
  margin-left: 230px;
  margin-top: 200px;
}

.screen {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 55px;
  margin-left: 55px;
}

.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: greenyellow;
  cursor: pointer;
}

.seat.selected {
  background-color: #f00;
}

#btn-book{
  margin-left: 60px;
  margin-top: 20px;
}